@font-face {
    font-family: 'Lato';
    src: url('/Fuentes/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fuentes/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'RalewayItalic';
    src: url('./Fuentes/Raleway/static/Raleway-ExtraBoldItalic.ttf');
    src: url('./Fuentes/Raleway/static/Raleway-Italic.ttf');
}

body {
    margin: 0;
}

html {
    background-image: url('./Assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#encabezado {
    height: 50px;
    background-color: rgb(0, 2, 5);
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: solid 1.75px white;
    box-shadow: 0 0.25px 50px rgba(255, 255, 255, 0.247);

    color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 25px;

}

#Logo {
    display: flex;
    align-items: center;
}

#logo-img {
    width: 60px;
    margin-right: 10px;
}

nav a {
    font-family: 'Poppins';
    src: url('./Fuentes/Poppins/Poppins-.ttf');
    font-style: normal;
    font-weight: bold;

    text-decoration: solid;
    margin-left: 30px;
    margin-right: 60px;
    color: white;
    padding-right: 30px;
}

nav a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgb(255, 255, 255);
    cursor: pointer;
}

#intro {
    margin-left: 10%;
    margin-top: 5%;
   

    font-family: 'RalewayItalic';
    src: url('./Fuentes/Raleway/static/Raleway-ExtraBoldItalic.ttf');
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 0 black;
    
}

#introducción {
    font-family: 'Lato';
    src: url('/Fuentes/Lato/Lato-Bold.ttf');
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px black;
    text-shadow: 1px 1px 0 black;
    font-size: 20px;

    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 10px;
}

#destacados {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ellie {
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 20px black;
    margin-right: 30px;

}

#ellie:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.171);
    cursor: pointer;
}

#kratos {
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 20px black;
    margin-left: 30px;
    margin-right: 30px;
}

#kratos:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.171);
    cursor: pointer;
}

#sonic {
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 20px black;
    margin-left: 30px;
    margin-right: 30px;
}

#sonic:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.171);
    cursor: pointer;
}

#mario {
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 20px black;
    margin-left: 30px;
    margin-right: 30px;
}

#mario:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.171);
    cursor: pointer;
}

#ramirez {
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 20px black;
    margin-left: 30px;
    margin-right: 30px;
}

#ramirez:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.171);
    cursor: pointer;
}
