/* BASE CSS PARA SUBPAGINAS */

@font-face {
    font-family: 'Lato';
    src: url('../Fuentes/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../Fuentes/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'RalewayItalic';
    src: url('../Fuentes/Raleway/static/Raleway-ExtraBoldItalic.ttf');
    src: url('../Fuentes/Raleway/static/Raleway-Italic.ttf');
}

body {
    margin: 0;
}

html {
    background-image: url('../Assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#encabezado {
    height: 50px;
    background-color: rgb(0, 2, 5);
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: solid 1.75px white;
    box-shadow: 0 0.25px 50px rgba(255, 255, 255, 0.247);

    color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 25px;

}

#Logo {
    display: flex;
    align-items: center;
}

#logo-img {
    width: 60px;
    margin-right: 10px;
}

nav a {
    font-family: 'Poppins';
    src: url('../Fuentes/Poppins/Poppins-.ttf');
    font-style: normal;
    font-weight: bold;

    text-decoration: solid;
    margin-left: 30px;
    margin-right: 60px;
    color: white;
    padding-right: 30px;
}

nav a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgb(255, 255, 255);
    cursor: pointer;
}

/* BASE CSS PARA SUBPAGINAS */




/* Informacion del personaje*/
#Intro {
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 5px;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;

    display:flex;
    justify-content: center;
    align-items: center;

}

#Titulo {
    font-family: 'RalewayItalic';
    src: url('./Fuentes/Raleway/static/Raleway-ExtraBoldItalic.ttf');
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 0 black;
    
}

#Subtitulo {
    margin-top: -13%;

    font-family: 'RalewayItalic';
    font-style: italic;

    color: rgb(102, 255, 0);
    text-shadow: 2px 2px 0 black;
}

#ellieimg {
    width: 150px;
    margin-left: 10px;
    border-radius: 5px;

}
/* Informacion del personaje */

/* Cuerpo del articulo */

#divhis {
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 5px;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;

    justify-content: center;
    align-items: center;
}

#historia_sub {
    font-family: 'RalewayItalic';
    src: url('./Fuentes/Raleway/static/Raleway-ExtraBoldItalic.ttf');
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 0 black;
    padding: 10px 0 0 15px;
}

p {
    font-family: 'Lato';
    src: url('../Fuentes/Lato/Lato-Bold.ttf');
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px black;
    text-shadow: 1px 1px 0 black;
    font-size: 17px;
    padding: 0 15px 10px 15px;
}